<template>
    <button :class="`button button--${status}`"
        @click="trigger()">{{ title }}</button>
</template>

<script>
export default {
    props: {
        title: String,
        status: String
    },
    methods: {
        trigger: function () {
            this.$emit('trigger')
        }
    }
}
</script>

<style lang="scss">
.button {
    border: 1px solid;
    border-radius: 3px;
    height: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: auto 0;
    max-width: 200px;
    width: 100%;

    &:focus {
        outline: none;
    }

    &--primary {
        background: #bbdefb;
        border-color: darken(#bbdefb, 2%);
        color: white;
        font-weight: 600;

        &:hover {
            background: darken(#bbdefb, 2%);
        }
    }

    &--danger {
        background: #b71c1c;
        border-color: darken(#b71c1c, 2%);
        color: white;
        font-weight: 600;

        &:hover {
            background: darken(#b71c1c, 2%)
        }
    }

    &--success {
        background: #80cbc4;
        border-color: darken(#80cbc4, 2%);
        color: white;
        font-weight: 600;

        &:hover {
            background: darken(#80cbc4, 2%)
        }
    }
}
</style>
