<template>
    <div class="DDListHeader">
        <h1>{{ title }}</h1>
        <DDButton title="Add" status="primary" @trigger="alert('added')" />
        <DDButton title="Cancel" status="danger" @trigger="alert('cancel')" />
    </div>
</template>

<script>
import DDButton from './../shared/Button';
export default {
    name: 'DDListHeader',
    props: {
        title: String,
    },
    components: {
        DDButton
    },
    methods: {
        alert: function (msg) {
            alert(msg)
        }
    }
}
</script>

<style>
.DDListHeader{
    align-content: center;
    display: flex;
    justify-content: space-between;
}
</style>
