<template>
    <div class="DDListContent">
        <DDListNewTask />
        <DDListTasks />
    </div>
</template>

<script>
import DDListNewTask from './DDListNewTask';
import DDListTasks from './DDListTasks';
export default {
    name: 'DDListContent',
    components: {
        DDListNewTask,
        DDListTasks
    },
}
</script>

<style>
.DDListContent{

}
</style>
