<template>
    <div class="DDList">
        <DDListHeader title="Todo List"/>
        <DDListContent />
    </div>
</template>

<script>
import DDListHeader from './list/DDListHeader';
import DDListContent from './list/DDListContent';

export default {
    name: 'DDList',
    components: {
        DDListHeader,
        DDListContent
    },
};
</script>

<style scoped lang="scss">
.DDList{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
    width: 100%;
}
</style>
