<template>
  <div id="app">
    <DDList />
  </div>
</template>

<script>
import DDList from './components/DDList.vue';

export default {
    name: 'app',
    components: {
        DDList,
    },
};
</script>

<style lang="scss">
@import './scss/apps.scss';

#app {
    color: #2c3e50;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: center;
}
</style>
